@import url("./fonts/gt-eesti-pro/stylesheet.css");

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

/* Login & Register background image*/
.background-image {
    background-image: url('./landscape5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 53%; /*ONLY landscape*/
}

/* Login & Register Card */
.card {
    display: flex; justify-content: center; align-items: center;
    overflow: hidden;
    box-shadow: 5px 5px 15px #5e5d5d;
    border-radius: 10px;
}

/* Buttons */
.btn {
    font-weight: bold;
}



/* Navbar Links and NavBar */
.nav-link:hover {
    color: rgba(255, 255, 255, 0.849);
    text-decoration: none;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li{
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}


/* Logo Inside NavBar */
.logo {
    width: 100%;
    max-width: 125px;
    height: auto;
}

/* Logo Inside Footer */
.logo2 {
    width: 100%;
    max-width: 95px;
    height: auto;
}

/* Footer */
footer {
    background-color: #161a1d;
    color: white;
    padding-top: 2rem;
    margin-top: 1.5em;
}

/* hr inside Footer*/
hr .light {
    border-top: 1px solid white;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a {
    color: white;
}

/* hr */
hr .light-100 {
    border-top: 1px solid white;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

/* Small text of Footer */
.text-small {
    color: white !important;
    padding: .5em 1em;
    text-align: justify;
    text-justify: inter-word;
    font-size: .875em;
}


/* Video Index Page */
.full-video{
    right: 0;
    bottom: 0;
    z-index: -1;
    max-width: 100%;
    height: auto;
}

/* Container of Video &  Video Index Page*/
.videoContainer { 
    position:relative; 
    text-align: center;
    color: white;
    min-height: 10em;
}
.videoContainer video {
    position:relative;
    z-index:0;
}

/* Container of the text over Video */
.overlay {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:1;
    color: #fff;
}

/* h1 inside Container over Video */
.overlay h1{
    font-size: 4.5em;
    color: #fff;
    font-weight: 600;
    text-shadow: 2px 2px 8px #000;
}

/* Link inside Container over Video */
.overlay a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 3px solid #fff;
    padding: 14px 40px;
    border-radius: 50px;
    text-shadow: 2px 2px 8px #000;
    font-weight: 600;
}

.overlay a:hover{
    text-decoration:none;
    background-color: #fff;
    color: #000;
    text-shadow: none;
}

.overlay h4{
    text-shadow: 3px 3px 8px #000;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1em;
}


/* divSections (Top Cities, By Sections, ...) */
.divSection {
    margin: 3em auto 0em;
    text-align: center;
}


/* Subtitles like: Top Cities, By Sections, and Connect*/
.subtitles {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2em;
    margin-bottom: 0em;
    font-weight: bold;
}

/* Titles like: City name, Sections, and Sight name*/
.titles {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2em;
    margin-bottom: 0.3em;
    font-weight: bold;
}

.subContents {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* Content of each Section */
.contents {
    font-size: 1.15em;
    text-align: justify;
}

/* <hr> tag (Main one, not the one on the Footer) */
.mainHr {
    width:60%;
    margin: 0em auto 1.5em auto;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* <hr> tag (Submain one, not the one on the Footer) */
.submainHr {
    width:60%;
    margin: 0em auto 1em auto;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Short Description of Top Cities cards */
.shortDescription {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Figure tag of each Image on the By Sections */
#figureimgcaption{
    /*width:50%;*/
    position:relative;
    display:flex;
    min-width:300px;
    margin:0;
}

/* Title of each Section Inside Image */
#img-caption{
    position:absolute;
    bottom:0;
    /*font-size:1rem;*/
    width:100%;
    text-align: center;
    /*background-color:rgba(0, 0, 0, 0.644);*/
    color:white;
    font-family: 'GT Eesti Pro',Arial,sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding: 0;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}


/* Set the gradient on each image of the By Sections */
.img-gradient {
    max-width: 100%; 
    margin: auto;
    overflow: hidden;
}
  
.img-gradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #161a1d 100%);
    margin-top: -80px;
    height: 80px;
    width: 100%;
    content: '';
  }

/* Set time for transition */
.img-gradient img{
    width: 100%;
    transition: 0.8s all ease-in-out;
}

/* Zoom in effect when hover on image */
.img-gradient:hover img {
    transform: scale(1.3);
}


/* Carousel inner padding of By Sections*/
  .carousel-inner {
    padding: .5em;
  }

  /* Carousel buttons(< & >) of By Sections*/
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #6a040f;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }


/* Social icons (inside "Connect") */
.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.bi-facebook{
    color: #3b5998;
}

.bi-linkedin{
    color: #0072b1;
}

.bi-instagram{
    color: #fb3958;
}

.bi-github{
    color: #000000;
}

.bi-facebook:hover,
.bi-linkedin:hover,
.bi-instagram:hover,
.bi-github:hover {
    color:#78787897;
}


/* divSections (City Page, Sight Page...) */
.divSectionNormal {
    margin: 3em auto 0em;
}

/* No available messages */
.bigMarginBotton {
    margin-bottom: 5em;
}

/* Stars of sights inside City Page */
.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner, #commentSight-stars-inner, #sight-stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}


.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ccc;
}

.stars-inner::before, #commentSight-stars-inner::before, #sight-stars-inner::before{
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #f8ce0b;
}


.number-rating{
    color: gray; 
    font-weight: bold;
}

.big-number{
    font-size: 1.5em;
}

.small-number{
    font-size: 1.1em;
}

/*--- MEDIA QUERIES --*/

@media (max-width: 1500px) {

    .overlay h1{
        font-size: 4.3em;
    }

    .overlay a{
        font-size: 22px;
        padding: 12px 30px;
    }

    .overlay h4{
        font-size: 1.4rem;
    }
        

}

@media (max-width: 1200px) {

    .overlay h1{
        font-size: 3.8em;
        margin-bottom: .1em;
    }

    .overlay a{
        font-size: 19px;
        padding: 10px 25px;
    }

    .overlay h4{
        font-size: 1.2rem;
        margin-bottom: .9em;
    }

    /* Div of the Content of each Section*/
    .divSection .divSectionNormal {
        margin: 2.5em auto 0em;
    }
      
    /* Titles of each Section */
    .subtitles {
        font-size: 3em;
    }

    /* Titles like: City name, Sections, and Sight name*/
    .titles {
        font-size: 3em;
        margin-bottom: 0.2em;
    }

    /* No available messages */
    .bigMarginBotton {
        margin-bottom: 5.3em;
    }

}


@media (max-width: 992px) {

    .overlay h1{
        font-size: 3.6em;
        margin-bottom: .3rem;
    }

    .overlay a{
        font-size: 17px;
        padding: 9px 23px;
    }

    .overlay h4{
        font-size: 1.2rem;
    }
    
    /* Div of the Content of each Section*/
    .divSection .divSectionNormal {
        margin: 2em auto 0em;
    }

    /* Titles of each Section */
    .subtitles {
        font-size: 2.8em;
    }

    /* Titles like: City name, Sections, and Sight name*/
    .titles {
        font-size: 2.6em;
        margin-bottom: 0.2em;
    }

    /* Content of each Section */
    .contents {
        font-size: 1.1em;
    }

    /* No available messages */
    .bigMarginBotton {
        margin-bottom: 5.6em;
    }

}


@media (max-width: 768px) {
    .overlay h1{
        font-size: 2.9em;
        margin-bottom: .05rem;
    }

    .overlay a{
        font-size: 16px;
        padding: 7px 18px;
    }

    .overlay h4{
        font-size: 1.1rem;
        margin-bottom: .5rem;
    }

    /* Div of the Content of each Section*/
    .divSection .divSectionNormal {
        margin: 2em auto 0em;
    }
      
    /* Titles of each Section */
    .subtitles {
        font-size: 2.5em;
    }

    /* Titles like: City name, Sections, and Sight name*/
    .titles {
        font-size: 2.3em;
        margin-bottom: 0.1em;
    }

    /* Content of each Section */
    .contents {
        font-size: 1em;
    }

    /* No available messages */
    .bigMarginBotton {
        margin-bottom: 0em;
    }

}


@media (max-width: 576px) {
    .overlay h1{
        font-size: 2em;
        margin-bottom: .05rem;
    }

    .overlay a{
        font-size: 14px;
        padding: 7px 16px;
        font-weight: bolder;
    }

    .overlay h4{
        font-size: 1.05rem;
        font-weight: 500;
        margin-bottom: .3rem;
    }

    /* Div of the Content of each Section*/
    .divSection .divSectionNormal {
        margin: 1.8em auto 0em;
    }

    /* Div of the Content of each Section*/
    .subContents {
        padding-left: .5em;
        padding-right: .5em;
    }

    /* Titles like: City name, Sections, and Sight name*/
    .titles {
        font-size: 2.4em;
        margin-bottom: 0.1em;
    }

    /* Titles of each Section */
    .subtitles {
        font-size: 2.4em;
    }

}


/*--- ADDITIONAL MEDIA QUERIES --*/
/*Carousel styles of By Sections*/

  @media (min-width: 768px) and (max-width: 992px) {
    .carousel-item {
      margin-right: 1.5em;
      flex: 0 0 37%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .carousel-item {
      margin-right: 1.5em;
      flex: 0 0 49%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }

  @media (min-width: 1200px) {
    .carousel-item {
      margin-right: 1.5em;
      flex: 0 0 32%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
