html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

/* Login & Register background image*/
.background-image {
    background-image: url('./landscape5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 53%; /*ONLY landscape*/
}

/* Login & Register Card */
.card {
    display: flex; justify-content: center; align-items: center;
    overflow: hidden;
    box-shadow: 5px 5px 15px #5e5d5d;
    border-radius: 10px;
}

/* Buttons */
.btn {
    font-weight: bold;
}



/* Navbar Links and NavBar */
.nav-link:hover {
    color: rgba(255, 255, 255, 0.849);
    text-decoration: none;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li{
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}


/* Logo Inside NavBar */
.logo {
    width: 100%;
    max-width: 125px;
    height: auto;
}

/* Logo Inside Footer */
.logo2 {
    width: 100%;
    max-width: 95px;
    height: auto;
}

/* Footer */
footer {
    background-color: #161a1d;
    color: white;
    padding-top: 2rem;
}

/* hr */
hr .light {
    border-top: 1px solid white;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}


footer a {
    color: white;
}

/* hr */
hr .light-100 {
    border-top: 1px solid white;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.text-small {
    color: white !important;
    padding: .5em 1em;
    text-align: justify;
    text-justify: inter-word;
    font-size: .875em;
}


/*--- MEDIA QUERIES --*/

@media (max-width: 1200px) {

        

}


@media (max-width: 992px) {

    

}


@media (max-width: 768px) {
    /* Background Image */
    .background-image {
        /*travel*/
        /*background-position: 8%;*/
    }
      

}


@media (max-width: 576px) {
    /* Background Image */
    .background-image {
        /*travel*/
        /*background-position: 20%;*/
    }

      

}