{% extends "landhop/layout2.html" %}
{% load static %}

{% block body %}


    <div class="container divSectionNormal" id="sections">
        <div class="row align-items-center">
            <div class="col-12">
                <h2 class="subtitles text-center">{{titleCity}}</h2>
                <hr class="submainHr">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12 subContents" style="margin-bottom: 1em;">
                <!--<div class="container text-center">-->
                <div class="row">
                    <div class="col-12">
                        <img src="{{city.photo}}" alt="" style="width: 100%; padding-bottom: 1em;">
                    </div>
                </div>
                <p>{{city.description}}</p>
                <!--</div>-->
                <h2>Sights in {{titleCity}}</h2>
                
                
                <div class="container text-center">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                        {% if sights %}
                            {% for sight in sights %}
                                <div class="col">
                                    <div class="card h-100 sight1">
                                        <img src="{{sight.photo}}" class="card-img-top" alt="{{sight.title}}">
                                        <div class="card-body">
                                            <h5 class="card-title"><strong>{{sight.title}}</strong></h5>
                                            <div class="stars-outer">
                                                <div id="sight-stars-inner"></div>
                                            </div>
                                            <span class="number-rating">{{sight.totalStars}}</span>
                                            <p class="card-text shortDescription">{{sight.description}}</p>
                                            <a class="btn btn-primary" href="/sight/{{ sight.title }}" role="button">VIEW DETAILS</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col text-center">
                                <h5 class="bigMarginBotton"><strong>No sights available.</strong></h5>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block script %}
    
<script>
    //Run getRatings when DOM loads
    document.addEventListener('DOMContentLoaded', getRatings)

    let sightsStars = JSON.parse("{{sightsStarsJSON|escapejs}}") // Array [ {…}, {…} ]

    // Convert Array of Objects to Array
    const arrStars = sightsStars.map(object => object.totalStars);
    console.log(arrStars); // 👉️ [ 0, 4.5 ]

    // Total Stars
    const starsTotal = 5;

    // Get ratings
    function getRatings() {
        // Get multiple divs for stars.inner
        let divsStars = document.querySelectorAll('#sight-stars-inner');
            
        // Stars on Sights
        for (let arrStar in arrStars) {
            //console.log(arrStars[arrStar]) // 4

            // Get percentage
            let starPctComment = (arrStars[arrStar] / starsTotal) * 100;
            //console.log(starPctComment) // 80

            // Round to nearest 10
            let starPctRoundedComment = `${Math.round(starPctComment / 10) * 10}%`
            console.log(starPctRoundedComment) // 80%

            // Set width of stars-inner (only comments) to percentage
            console.log(divsStars[arrStar])
            divsStars[arrStar].style.width=starPctRoundedComment;
                
            console.log("------------------")
        }
        // Stars of the sight
        // Get percentage
        //const starPercentage = (sightsStars / starsTotal) * 100;
        //console.log(starPercentage) // 0

        // Round to nearest 10
        //const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`
        //console.log(starPercentageRounded) // 0%

        // Set width of stars-inner (totalStars) to percentage
        //document.querySelector(`.titleSight .stars-inner`).style.width=starPercentageRounded;

        // Add number rating
        //document.querySelector(`.titleSight .number-rating`).innerHTML=sightStars.toFixed(1)
    }


</script>
{% endblock %}